/*  */
.column-one {
  float: left;
  width: 0%;
  padding: 0px;
}

.ulred {
   background-color: #FF474C;
   padding: 10px;
}


}
 body {
      margin: 0;
      font-family: Arial, sans-serif;
      background-color: var(--body-background-color);
      text-align: center;
      color: var(--body-color);
    }

:any-link {
      color: var(--link-color);
    }


    /* Picture Button */
    .btn {
      display: flex;
      justify-content: space-around;
      background-color: #f2f2f2;
      border-bottom: 1px solid #999;
    }
  .btn div {
      flex: 1;
      padding: 15px 0;
      border-right: 1px solid #999;
      font-weight: bold;
    }

    .btn div:last-child {
      border-right: none;
    }

body {
      margin: 0;
      font-family: Arial, sans-serif;
      background-color: var(--body-background-color);
      color: var(--body-color)l
      text-align: center;
    }

    /* Top navigation bar */
    .navbar {
      display: flex;
      justify-content: space-around;
      background-color: var(--navbar-background-color);
      border-bottom: 1px solid #999;
    }

/* Sticky Header */

   header {
   position: sticky;
   top: 0; /* Sticks to the top of the viewport */
   z-index: 999; 
}

/* Nav Bar */

  .navbar div {
      flex: 1;
      padding: 15px 0;
      border-right: 1px solid #999;
      font-weight: bold;
    }

    .navbar div:last-child {
      border-right: none;
    }

     /* Main content area */
    .main {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 70vh;
    }

    .card-container {
      position: relative;
      width: 300px;
      height: 400px;
      border: 1px solid #999;
      margin-top: 40px;
    }

    .card-container h3 {
      margin-top: 10px;
    }

    .arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: #e6eefc;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 24px;
      border: 1px solid #999;
      cursor: pointer;
    }

    .arrow.left {
      left: -25px;
    }

    .arrow.right {
      right: -25px;
    }

    /* Sticky Footer */
    footer {
      background-color: var(--footer-background-color);
      border-top: 1px solid #999;
      padding: 8px;
      text-align: left;
      position: sticky;
      bottom: 0;
      z-index: 999; 
}


    }


    /*Code from https://github.com/madrasacdemy/htmlcss/blob/main/cards/swipeable-card.html */
.cards {
      display: flex;
      transition: transform 0.5s ease;
    }

    .card {
      min-width: 100%;
      height: 400px;
      background-color: #fff;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 24px;
      color: #333;
      text-transform: uppercase;
      letter-spacing: 1px;
    }