<!DOCTYPE html>
<html data-theme="dark" lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Activity Dashboard</title>
  <!-- Optional dark theme -->
  
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <!-- Defer makes sure the JS runs after HTML loads -->
  <link rel="stylesheet" href="{{ url_for('static', filename='filterjavascript.js') }}">
  
</head>

<body>
  <!-- Header -->
  <header>
    <div class="img_container">
      
      <img src="{{ url_for('static', filename='drexelxfizz.png') }}"  width="auto" height="140" alt="Logo">
    </div>
    <div class="hrbar">
      <hr />
    </div>
  </header>
  <!-- Main Section -->
  <main class="main">
  {% block content %}{% endblock %}
  </main>
  <!-- Footer -->
  <footer>
  <!-- Theme Switch button code
  Title: The Ultimate Theme Toggle™️
  Author: David Waumsley
  Date: April 30th, 2024 
  Code version: N/a
  Availability: https://codepen.io/dwaumsley/pen/GRLamdm
  -->
  <button
    type="button"
    data-theme-toggle
    aria-label="Change to light theme"
    >Change to light theme
  </button>
    <div class="navbar">
      <div id="profile"><a href= "/profile">Profile</a></div>
      <div id="Cards"><a href="/">Cards</a></div>
      <div id="aboutus"> <a href="/credits">About Us </a></div>
      <div class="dropup"><a href=#>Filter Menu
          <button class="dropbtn"
          onclick="myFunction()">
          <i class="fa fa-caret-down"></i>
        </button> 
      </a>
      
      <div class="dropup-content" id="myDropup">
        <p>Distance (miles) </p>
        <p><span id="distanceValue">50</span></p>
          <div class="slidecontainer">
            <p style="display: inline; text-align: left;"> 1 </p>
  <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
  <p style="display: inline; text-align: right;"> 100 </p>
</div>
        </label>
        <label>
          <input type="checkbox" id="celiac" onchange="updateFilters()">
          Celiac
        </label>

    <label>
      <input type="checkbox" id="peanuts" onchange="updateFilters()">
      Peanuts
    </label>
 
    <label>
      <input type="checkbox" id="milk" onchange="updateFilters()">
      Milk
    </label>

    <label>
      <input type="checkbox" id="soy" onchange="updateFilters()">
      Soy
    </label>

    <label>
      <input type="checkbox" id="shellfish" onchange="updateFilters()">
      Shell Fish
    </label>
    
    <label>
      <input type="checkbox" id="sesame" onchange="updateFilters()">
      Sesame
    </label>

    <label>
      <input type="checkbox" id="treenuts" onchange="updateFilters()">
      Treenuts
    </label>

      <label>
        <input type="checkbox" id="Eggs" onchange="updateFilters()">
        Eggs
      </label>
      </div>
      </div>

      <div id="chat"><a href="/chat">Chat</a></div>
    </div>
  </footer>
</body>

<script src="{{ url_for('static', filename='themetoggle.js') }}"></script>

</html>
