
<!DOCTYPE html>
<html data-theme="dark" lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Activity Dashboard</title>
  <!-- Optional dark theme -->
  <link rel="stylesheet" href="style.css"/>
  <!-- Defer makes sure the JS runs after HTML loads -->
  <script src="script.js" defer></script>
</head>

<body>
  <!-- Header -->
  <header>
    <div class="img_container">
      <img src="drexelxfizz.png" width="250" height="250" alt="Logo" />
    </div>
    <div class="hrbar">
      <hr />
    </div>
  </header>
  <!-- Main Section -->
  <main class="main">
    <div class="card-container">
      <div class="cards" id="cards">
        <div class="card" style="background-color: #ff7eb3;">Card 1</div>
        <div class="card" style="background-color: #0000ff;">Card 2</div>
        <div class="card" style="background-color: #00ffff;">Card 3</div>
      </div>
      <div class="arrow left" onclick="swipeLeft()" style="color: black;">X</div>
      <div class="arrow right" onclick="swipeRight()" style="color: black;">✓</div>
    </div>
  </main>

  <!-- Footer -->
  <footer>
  <!-- Theme Switch button code
  Title: The Ultimate Theme Toggle™️
  Author: David Waumsley
  Date: April 30th, 2024 
  Code version: N/a
  Availability: https://codepen.io/dwaumsley/pen/GRLamdm
  -->
  <button
    type="button"
    data-theme-toggle
    aria-label="Change to light theme"
    >Change to light theme
  </button>
    <div class="navbar">
      <div id="profile"><a href="public.html">Profile</a></div>
      <div id="interests"><a href="interest.html">Interests</a></div>
      <div id="aboutus"> <a href="about_us.html">About Us </a></div>
      <div id="filter"><a href="filter.html">Filter Menu</a></div>
      <div id="chat"><a href="chat.html">Chat</a></div>
    </div>
  </footer>
</body>
<script src=themetoggle.js></script>
</html>
