{% extends "base.html"%}

{%block content%}
<div class="entirebody">
    <h1> Profile </h1>
    <h3> Name </h3>

<!--- HTML Structure for Changing Profile Picture --->
<div class="ppic-con" id="ppic-con">

    <img src="{{ url_for('static', filename='defaultpicture.png') }}" id="ppic"
   
    class ="ppic" border="1"
    width="250px" height="250px" alt="Profile Picture"> 

    <div class="upload-icon">

    <span></span>
    </div>
</div>  

    <input type="file" id="actual-btn" accept="image/*" 
    hidden/>
    <label for="actual-btn" id="btn">
    Choose File &#x1F4F7;</label>

    <br> <br> <br> <br>
    <hr>

    <p style="text-align:center;">
    <strong> To do list for Verification: </strong>
    </p>
        <ul style="text-align:center;" class="ulred">
            <li>Verify .edu email</li>
            <li>2FA with your phone number</li>
            <li>Create a username</li>
            <li>xxx</li>
        </ul>
    <hr>


    <!--- Biography Section --->
    <h3> About me </h3>
    <p> Bio Placeholder </p>
    <hr>

    <h3> Interests </h3>
    <p> Interest Placeholder </p>
    </div>
{%endblock%}