{% extends "base.html"%}

{%block content%}
<div class="entirebody">
    <h1> Profile </h1>
    <h3> {{name}} </h3>

<!--- HTML Structure for Changing Profile Picture --->
<div class="ppic-con" id="ppic-con">

    <img src="{{ url_for('static', filename='uploads/'+pfp) }}" id="ppic"
   
    class ="ppic" border="1"
    width="250px" height="250px" alt="Profile Picture"> 

    <div class="upload-icon">

    <span></span>
    </div>
</div>  

<form method="POST" enctype="multipart/form-data">
    <input type="file" name="image">
    <button type="submit">Upload</button>
</form>
    

    <br> <br> <br> <br>
    <hr>

    <p style="text-align:center;">
    <strong> To do list for Verification: </strong>
    </p>
        <ul style="text-align:center;" class="ulred">
            <li>Verify .edu email</li>
            <li>2FA with your phone number</li>
            <li>Create a username</li>
            <li>xxx</li>
        </ul>
    <hr>


    <!--- Biography Section --->
    <h3> About me </h3>
    <p> Bio Placeholder </p>
    <hr>

    <h3> Interests </h3>
    <p> Interest Placeholder </p>
    </div>
{%endblock%}